.main-footer {
  width: 100%;
  min-height: 310px;
  background-color: $footerColor;
  color: $lightFontColor;
  padding-left: 375px;
  padding-top: 75px;
  .main-footer__top {
    width: 1145px;
    @include flexbox(row, flex-start, space-between);
    margin-bottom: 60px;
    .footer-menu {
      line-height: 24px;
      &:last-child {
        margin-right: 0;
      }
      .footer-list {
        li {
          margin-bottom: 15px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .menu-1 {
      .footer__h3 {
        @include font-size(16px);
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    .menu-2 {
      .footer__h3 {
        @include font-size(16px);
        line-height: 24px;
        margin-bottom: 43px;
      }
    }
    .menu-3 {
      .footer__h3 {
        @include font-size(16px);
        line-height: 24px;
        margin-bottom: 20px;
      }
    }
    .menu-4 {
      .footer__h3 {
        @include font-size(16px);
        line-height: 24px;
        margin-bottom: 24px;
      }
      .footer__social {
        width: 115px;
        @include flexbox(row, center, space-between);
        .s-btn {
          width: 45px;
          height: 45px;
          @include flexbox;
          @include font-size(22px);
          color: $lightFontColor;
          border-radius: 50px;
        }
        .btn-vk {
          background-color: $vkColor;
        }
        .btn-fb {
          background-color: $fbColor;
        }
      }
    }
  }

  .main-footer__bottom {
    width: 1145px;
    @include font-size(12px);
    line-height: 24px;
    @include flexbox;
  }
}
