// Fonts
$mainFont: 'Open Sans', 'Times New Roman', sans-serif;
$miscFont: 'RotondaC', Arial, sans-serif;

$fontSize: 16px;

// Colors:
$blackColor: #000;
$navActiveColor: #ba1c1c;
$darkFontColor: #3f4344;
$lightFontColor: #fff;
$btnFontColor: #3e4344;
$btnColor: #efbf37;
$shadowColor: #ebecee;
$whyColor: #efbf37;
$grayColor: #808282;
$footerColor: #525353;
$vkColor: #7795c4;
$fbColor: #516191;
$mainBackColor: #f8fcfe;
$mediaShadowColor: #e1e7ed;
$blueHoverColor: #78bbef;
$supportBackColor: #f0f8fe;
